body {
  /* background-color: yellow; */
  /* stock photo from:  */
  /* https://www.pexels.com/photo/photography-of-clouds-844112/ */
  background-image: url("../Photos/cloudsfreestockphoto.jpg");
}

h1 {
  position: relative;
  text-align: center;
  font-size: 100%;
}

/* solution to connect four text dispearing behind board found here: */
/* https://stackoverflow.com/questions/16056591/font-scaling-based-on-width-of-container */
.test {
  font-size: calc(3vh + 3vw);
}

.board {
  height: 75%;
  width: 75%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
}

.row {
  background: radial-gradient(
    circle,
    rgba(25, 25, 25, 0) 50%,
    rgba(255, 255, 0, 1) 50%
  );
  margin: -1px;
  height: 16%;
}

.modal {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 72%;
  width: 76%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  font-size: 500%;
}

.reset {
  top: 10%;
  right: 33.33%;
  position: relative;
  height: 10%;
  width: 15%;
  margin-top: 25%;
}

.help {
  position: relative;
  margin-top: 100%;
}

.text {
  position: relative;
  margin-left: 25%;
}

.defeat {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 72%;
  width: 76%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.75);
  color: red;
  font-size: 500%;
}

.draw {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 72%;
  width: 76%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.75);
  color: pink;
  font-size: 500%;
}

.hidden {
  display: none;
}
