body {
  /* background-color: white; */
  background-image: url("../Photos/cloudsfreestockphoto.jpg");
}

.board {
  height: 75%;
  width: 75%;
  background-color: yellow;
  position: fixed;
  /* pushes sqare top and left 50% distance from edge of screen */
  top: 50%;
  left: 50%;
  /* a confusing function I'm using to in conjuction with top & left to center the cener of the board in the middle of the screen, I think it's telling css to move 50% into the x and y axis of my box and use that as it's starting point */
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
}

.row {
  /* background-color: gray; */
  background-color: rgba(25, 25, 25, 0.1);
  height: 16%;
  border-radius: 50%;
  margin: 5px;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 75%;
  width: 75%;
  display: flex;
  /* justify-content: center; */
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  font-size: 500%;
}

.reset {
  position: relative;
  height: 10%;
  width: 15%;
  margin-top: 25%;
}

.text {
  position: relative;
  margin-left: 25%;
}

.defeat {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 75%;
  width: 75%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.75);
  color: red;
  font-size: 500%;
}

.hidden {
  display: none;
}
